#nav-bar-mob {
    display: none;
}

#body-mob {
    display: none;
}

@media screen and (max-width: 575px) {
    #nav-bar-mob {
        display: block;
    }

    #body-mob {
        display: block;
    }

    #sidebar-section {
        display: none;
    }

    #home-content-section {
        display: none;
    }

    #main-body-desktop {
        display: block;
    }

    .sidebar.close ~ .home-section {
        left: 0px;
        width: 100vw;
    }
}
